* {
	margin: 0;
	padding: 0;

	body {
        background-color: $background-color;
    	font-family: 'Roboto', sans-serif;

        h1 {
            font-weight: 800;
        }

        h2 {
            font-weight: 400;
        }

        .flex-container {
            display: flex;

            .info-container {
                width: 15.625%;
                background-color: $tab-color;
            }

            .map-container {
                width: 75%;
            }
        }


	}
}


