#map {
    width: 100%;
    display: flex;
    justify-content: center;

    .countries {
        fill: $map-color;
        stroke: $primary-color;
        stroke-width: 0.5px;
        stroke-linecap: round;
        stroke-linejoin: round;
        vector-effect: non-scaling-stroke;

        :hover {
            fill: $primary-color;
        }

        .target-country {
            fill: $primary-color;
        }
    }

    .centroid {
        fill: $arcs-color;
        stroke: #577B8C;
    }

    .arc {
        stroke-width: 2;
        fill: none;
        animation: dash 10s linear infinite;
        pointer-events: none;
    }

    &.animate-stop .arc {
        animation: none;
        stroke-dasharray: 0;
    }
  
    @keyframes dash {
        from {
          stroke-dashoffset: 1000;
        }
        to {
          stroke-dashoffset: 0;
        }
    }
    

    .route {
        fill: none;
    }

    .moving-item {
        fill: #711106;
    }
}
