aside.info-container {
	padding: 20px;

	h2.side-title {
		border-bottom: 4px solid $primary-color;

	}

	li {
		padding: 10px 0;
		color: $font-secondary-color;
	}

	#country-info {
		height: 50%;

		ul {
			list-style-type: none;
			margin-top: 20px;
			font-size: 20px;
		}
	}

	#events-info {
		height: 50%;

		ul {
			list-style-type: none;
		}

		//li#event-box {
		li#event-box{
			margin-bottom: 20px;
			border: 1px solid $font-light-color;
			padding: 10px;
			color: $font-main-color;
			overflow: auto;

			h4.war-name {
				margin-bottom: 10px;
				a {
					text-decoration: none;
					color: $font-main-color;
				}
			}

			p {
				font-weight: 800;
				font-size: 14px;
			}

			p.start-year {
				float: left;
			}

			p.end-year {
				float: right;
			}
		}
	}
}