$background-color: #F0F0F0;
$primary-color: #4DD888;
$map-color: #4E4D4D;
$tab-color: #EBEBEB;
$arcs-color: #FFCD6F; // Tai väri indikaattori päätämme myöhemmin.

$font-main-color: #333333;
$font-secondary-color: #666666;
$font-family: 'Roboto', sans-serif;
